langchain
ipykernel
python-dotenv
langchain_community
dotenv
langchain-openai
setuptools
langchain_huggingface
huggingface_hub[hf_xet]
hf_xet
faiss-cpu
langchain_chroma
langchain_groq
langchain_core
fastapi
langserve
sse_starlette
uvicorn[standard]
duckduckgo-search
pymupdf
arxiv
wikipedia
sentence_transformers
chromadb
duckdb
pandas 
openai
sentence-transformers